---
BasedOnStyle: Google
---
Language: Cpp
# Some older clang-format (as I known 7.0), `IncludeBlocks` is set to `Preserve`, set it to Regroup explicitly.
IncludeBlocks:   Regroup
# Overwrite default include categories to recognize `<*.hpp>` as 'Other libraries'.
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<[^\.]*>'
    Priority:        2
  - Regex:           '^<.*>'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
...
